.applications-list
{
    background: #EEEEEE;
    
    .card-driver
    {
        background: url("/driver/images/driver.jpg") center center;
        background-size: cover;
    }
    
    .card-chat
    {
        background: url("/chat/images/chat.png") center center;
        background-size: cover;
    }
    
}
